.header{
    display: flex;
    min-height: 80px;
    align-items: center;
    padding: 10px 0px;
    border-bottom: 1px solid #dedede;
    background-image: url("bg_v2.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.header__logo{
    display: flex;
}

.header__cross{
    margin: 0px 20px;
    padding: 10px;
}
.form{
    display: flex;
    margin-left: auto;
    margin-right: 15px;
}

.form form{
    display: flex;
}

.form form input{
    border: 1px solid #cccc;
    line-height: 38px;
    padding: 0 15px;
    width: 100%;
    outline: none;
    border-right: 0;
}

select{
    border: 1px solid #cbcbcb;
    padding: 0px 10px 0px 10px;
    text-decoration: none;
    line-height: 38px;
    font-size: 15px;
    display: flex;
    min-width: 80px;
    background-color: white;
    transition: 0.3 background-color;
}

select:hover{
    background-color: #cbcbcb;
}

.button {
    border: 1px solid #cbcbcb;
    text-decoration: none;
    color: black;
    line-height: 38px;
    display: flex;
    width: 60px;
    align-items: center;
    transition: 0.3 color;
}

.button:hover{
    background-color: #cbcbcb;
}

.button img {
    width: 100%;
    padding: 10px;
}

.servers{
    width: 25px;
    height: 24px;
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
}

ul{
    list-style: none;
}

.nav-link a {
    text-decoration: none;
    color: gray;
    font-size: 18px;
    transition: 0.2 color;
}

.nav-link a:hover{
    color: black;
    text-decoration: underline;
}

.login{
    margin-right: 15px;
}

.login a {
    text-decoration: none;
    color: black;
    border: 1px solid #cbcbcb;
    padding: 0px 15px;
    line-height: 38px;
    display: flex;
    align-items: center;
}

.login a:hover{
    background-color: #cbcbcb;
}        

     
.content__header h2 {
    color: #47463f;
    margin-bottom: 5px;
    font-size: 1.75em;
}

.content__header h4{
    color: #999;
    font-size: 1.25em;
    margin-bottom: 1em;
    font-weight: normal;
}